<%- include('../include/private/header') -%>

    <section class="pt-4 pb-4">
      <div class="container">
            <div class="row mb-4">
                <div class="col col-sm-3">
                    <img src="<%= album.cover_medium %>" alt="" class="rounded img-shadow"> 
                </div>
                <div class="col col-sm-9">
                    <h1><%= album.title %></h1>
                    <a href="/<%= album.artist.id %>/artist"><img src="<%= album.artist.picture_small %>" alt="" width="30" height="30" class="rounded-circle"> <%= album.artist.name %></a>
                    <div id="deezer-player">
                        <div id="dz-root"></div>
                        <div id="player" style="width:100%;" align="center"></div>
                    </div>
                </div>
            </div>
            <div id="controlers">

            <%- include('../include/private/tracks', { tracks: tracks, album: album.title }) -%>
        </div>
      </div>
    </section>

<%- include('../include/private/footer') -%>