<%- include('../../include/private/header') -%>

<section class="pt-4 pb-4">
    <div class="container">
        <h1><%= page_title %></h1>
        <a href="/playlists/<%= playlistId %>/update" class="btn btn-secondary">Cancel</a>
        <a href="/playlists/delete/<%= playlistId %>" class="btn btn-danger">Delete</a>
    </div>
</section>

<%- include('../../include/private/footer') -%>