<%- include('../../include/private/header') -%>

<section class="pt-4 pb-4">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-3"></div>
            <div class="col-sm-12 col-md-9">
                <%- include('../../include/messages') -%>
            </div>
        </div>
        <div class="row">
            <div class="col col-sm-3">
                <img src="<%= playlist.thumbnail %>" alt="" class="img-thumbnail rounded img-fluid img-shadow">
                <a href="/playlists/<%= playlist.playlistId %>/access" class="btn btn-primary btn-block mt-3">Manage Access</a>
                <a href="/playlists/delete/<%= playlist.playlistId %>/confirm" class="btn btn-danger btn-block mt-3">Delete Playlist</a>
                <a href="/playlists/<%= playlist.playlistId %>/view" class="btn btn-info btn-block mt-3">View Tracks</a>
            </div>
            <div class="col col-sm-9">
                <h3><%= page_title %></h3>
                    <form method="POST" enctype="multipart/form-data">
                        <div class="form-group">
                            <label for="title">Title</label>
                            <input type="text" name="title" id="title" class="form-control<%= typeof title_validation != 'undefined' ? ' is-invalid' : null %>" value="<%= playlist.title %>">
                            <small class="invalid-feedback"><%= typeof title_validation != 'undefined' ? title_validation : null %></small>
                        </div>
                        <div class="form-group">
                            <label for="title">Description</label>
                            <textarea name="description" id="description" class="form-control<%= typeof description_validation != 'undefined' ? ' is-invalid' : null %>"><%= playlist.description %></textarea>
                            <small class="invalid-feedback"><%= typeof description_validation != 'undefined' ? description_validation : null %></small>
                        </div>
                        <div class="form-group">
                            <div class="custom-control custom-checkbox">
                                <input type="checkbox" name="private" id="private" class="form-check-input" <%= playlist.private === true ? 'checked' : null %>>
                                <label class="form-check-label" for="private">Private?</label>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="thumbnail">Thumbnail</label>
                            <input type="file" name="thumbnail" id="thumbnail" class="form-control-file<%= typeof thumbnail_validation != 'undefined' ? ' is-invalid' : null %>">
                            <small class="invalid-feedback"><%= typeof thumbnail_validation != 'undefined' ? thumbnail_validation : null %></small>
                        </div>
                        <button type="submit" class="btn btn-primary">Update Playlist</button>
                    </form>
            </div>
        </div>
    </div>
</section>

<%- include('../../include/private/footer') -%>